/*@font-face {
    font-family: 'caviar_dreamsregular';
    src: url(../fonts/caviardreams/caviardreams-webfont.eot);
    src: url(../fonts/caviardreams/caviardreams-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/caviardreams/caviardreams-webfont.woff) format('woff'),
         url(../fonts/caviardreams/caviardreams-webfont.ttf) format('truetype'),
         url(../fonts/caviardreams/caviardreams-webfont.svg#caviar_dreamsregular) format('svg');
    font-weight: normal;
    font-style: normal;
}*/

body {
	width: 100%;
	font-family: 'caviar_dreamsregular';
}

#start {
	display: block;
}

.hidden {
	display: none;
}

header {
	background-color: #fff;
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 2;
	/*border-bottom: 4px solid #000;*/
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin: 0;
}

header ul {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-bottom: 4px solid #000;
}

header ul li {
	float: left;
	list-style-type: none;
	height: 75px;
	margin-top: 10px;
}

#headLeft, #headRight {
	width: 9.95%;
	text-align: center;
}

#headMid {
	width: 73.5%;
	border-left: 2px solid #b9b9b9;
	border-right: 2px solid #b9b9b9;
	padding: 10px 20px 0 70px;
}

#searchbox {
	width: 87%;
	height: 20px;
	font-size: 1.5em;
	padding: 20px;
	outline: none;
	border-radius: 100px;
	border: none;
	-webkit-box-shadow: inset -3px 5px 10px 0 rgba(0,0,0,0.7);
	box-shadow: inset -3px 5px 10px 0 rgba(0,0,0,0.7);
	margin-top: 0px;
	background-color: #eaeaea;
	font-family: 'caviar_dreamsregular';
}

#headLeft img {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

#day {
	font-size: 1.7em;
	line-height: 0px;
	display: inline-block;
	/*margin-top: -15px;*/
}

#suffix {
	display: inline;
}

#month {
	margin-top: -15px;
	font-size: 1.5em;
	/*line-height: 0px;*/
	text-transform: lowercase;
}

#results {
	width: 80%;
	position: fixed;
	overflow: scroll;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: rgba(0,0,0,0.5);
	display: block;
	padding: 0;
	padding-top: 100px;
}

.res {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
}

.res:hover {
	background-color: rgba(0,0,0,0.5);
}

.arrow {
	margin-top: calc((135px - 57px) / 2);
	content: url(../images/arrow.png);
	opacity: .5;
	float: right;
	padding-right: 50px;
}

.res:hover .arrow {
	opacity: 1;
}

img.profile {
	border-radius: 100%;
	border: 5px solid #fff;
	max-width: 125px;
	max-height: 125px;
	float: left;
	margin-left: 50px;
}

.animalName {
	font-size: 2.5em;
	color: #fff;
	float: left;
	margin-top: calc((135px - 47px) / 2);
    padding-left: 50px;
}

.background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 0;
	overflow: hidden;
}

.background img {
	max-width: 100%;
}

#details {
	width: 80%;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: rgba(0,0,0,0.5);
}

.top {
	padding: 50px 100px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.top li {
	list-style-type: none;
	float: left;
}

.profImg {
	width: 20%;
}

.profImg img {
	max-width: 100%;
	border-radius: 200px;
	border: 10px solid #fff;
	float: right;
}

.profName {
	width: 70%;
	font-size: 5em;
	color: #fff;
	padding-left: 50px;
}

.profName p {
	margin-top: 70px;
}

#descHolder {
	position: fixed;
	overflow: scroll;
	z-index: 2;
	width: 80%;
	top: 320px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#animalDesc {
	font-size: 1.5em;
	color: #fff;
	padding: 0 50px 50px 50px;
}

#goBack {
	position: fixed;
	z-index: 3;
	top: 25px;
	left: 25px;
}

.no {
	width: 100%;
	font-size: 4em;
	color: #fff;
	text-align: center;
}




