/* _objects.scss */
// contains generic, underlying design patterns and their extensions.
// eg. basic styles for all sidebar blocks or list displays of content

@import 'objects/buttons';
@import 'objects/media-embed';
@import 'objects/content-styles';
@import 'objects/flip';
@import 'objects/curl';
@import 'objects/loader';

body {
  font-family: 'caviar_dreamsregular';
  @include no-drag-image;
}

header {
  background-color: white;
  display: block;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border-bottom: 2.5px solid rgba(black, .75);

  > div {
    margin-top: 10px;
    width: 9.95%;
  }
  div {
    float: left;
    &:first-child,
    &:last-child {
      text-align: center;
    }
  }

  h1 {
    float: left;
    margin: 0;
    margin-top: calc((75px - 39px) / 2);
    opacity: 1;
    text-align: left;
    padding-left: 25px;
    @extend %transition;
    &.hide {
      opacity: 0;
      @extend %transition;
    }
  }

  .search {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 10px 20px 0 70px;
    padding-top: 0;

    .search-icon {
      position: relative;
      height: 100%;
      width: 75px;
      margin: 0;
      overflow: hidden;
      .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        height: calc(75px / 2);
        width: 40px;
        background-color: white;
        z-index: 5;
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          @extend %icon-search;
          font-size: 2.5em;
          margin-right: 0;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }

    form {
      margin-left: 75px;
      input {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50%;
        height: 20px;
        font-size: 1.2em;
        padding: 20px;
        outline: none;
        border-radius: 100px;
        border: none;
        background-color: #eaeaea;
        font-family: 'caviar_dreamsregular';
        display: block;
        opacity: 1;
        @extend %transition;
        &.hide {
          opacity: 0;
          width: 0;
          @extend %transition;
        }
      }
    }
  }

  .date {
    position: relative;
    float: right;
    width: 20%;
    margin: 0;
    height: calc(100% - 2px);
    overflow: hidden;
    p {
      font-size: .9em;
      text-transform: lowercase;
      margin-top: calc((75px - 49px) / 2);
      .day {
        font-size: 1.7em;
        display: inline-block;
      }
      .suffix {
        display: inline;
      }
      .month {
        font-size: 1.5em;
      }
    }
    img {
      position: absolute;
      // top: 0;
      top: 5px;
      bottom: 25%;
      left: 47.5%;
      right: 0;
      margin: auto;
      z-index: -1;
      width: 25%;
      -ms-transform: rotate(25deg);
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg);
    }
  }
}

#results {
  width: 80%;
  position: fixed;
  overflow: scroll;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
  display: block;
  padding: 0;
  padding-top: 100px;
  .res {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    img.profile {
      @extend .circle;
      border: 5px solid #fff;
      max-width: 125px;
      max-height: 125px;
      float: left;
      margin-left: 50px;
    }
    .animalName {
      font-size: 2.5em;
      color: #fff;
      float: left;
      margin-top: calc((135px - 47px) / 2);
      padding-left: 50px;
    }
    .arrow {
      margin-top: calc((135px - 57px) / 2);
      content: url(../../images/arrow.png);
      opacity: .5;
      float: right;
      padding-right: 50px;
    }
    &:hover {
      background-color: rgba(0,0,0,0.5);
      .arrow {
        opacity: 1;
      }
    }
  }
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.no {
  width: 100%;
  font-size: 4em;
  color: #fff;
  text-align: center;
}

section.all-animals {
  @include center-block;
  width: 90%;
  padding-top: 75px;
  margin-top: 10px;
  .display-options {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    .list-style--options {
      float: right;
      div.form-item {
        display: inline-block;
        font-size: 2em;
        div.option {
          display: inline-block;
          cursor: pointer;
          padding: .5em;
          background-color: #fff;
          border-radius: 15%;
          color: $brand3;
          &.list:before {
            @extend %icon-list;
          }
          &.grid:before {
            @extend %icon-grid;
          }
          &.list:before,
          &.grid:before {
            top: 0;
            margin-right: 0;
            text-align: center;
            width: 37px;
          }
        }
        p {
          display: none;
        }
      }
    }
  }
  .filter-options {
    float: left;
    width: 20%;
    padding-right: 10px;
    .container {
      form {
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        .form-item {
          margin-bottom: 20px;
          label {
            color: black;
            &.disabled {
              opacity: 0.5;
            }
            &.item-label {
              text-transform: uppercase;
              letter-spacing: 2px;
              margin-bottom: 10px;
              color: $brand3;
              &.diet:before {
                @extend %icon-spoon-knife;
              }
              &.lifestyle:before {
                @extend %icon-trophy;
              }
              &.status:before {
                @extend %icon-notification2;
              }
              &.type:before {
                @extend %icon-tag;
              }
            }
          }
          .option {
            label {
              font-size: .9em;
              input {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  div#searchResults {
    float: left;
    width: 80%;
    ul {
      display: inline-block;
      width: 100%;
      padding: 0;
      li {
        position: relative;
        list-style-type: none;
        float: left;
        display: inline-block;
        margin: 0;
        margin-bottom: 10px;
        padding: 10px;
        background-color: white;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        img.profile-image {
          @include no-drag-image;
          float: left;
        }
        .info-container {
          float: left;
          padding: 10px 0;
        }
        .information {
          display: inline-block;
          p {
            display: inline-block;
            margin: 0;
            font-size: .9em;
          }
        }
        .front .information {
          width: 75%;
        }
        .back .information {
          width: 100%;
        }
        p {
          display: inline-block;
          margin: 0;
          width: 100%;
          &.name {
            font-size: 1.4em;
            line-height: 1;
            padding-left: 20px;
            width: 100%;
            color: $brand3;
          }
          &.desc {
            padding-top: 10px;
          }
        }
        .reverse-flip {
          position: absolute;
          top: 0;
          right: 0;
          width: 35px;
          height: 35px;
          text-indent: -99999px;
          &:hover {
            cursor: pointer;
          }
          &:before {
            @extend %icon-cross;
            margin: 0;
            position: absolute;
            top: 10px;
            right: 10px;
            text-indent: 0;
          }
        }
        a.continue-reading {
          position: absolute;
          right: 10px;
          bottom: 10px;
          text-decoration: none;
          font-family: $font1-bold;
          &:hover {
            color: white;
          }
          &:after {
            @extend %icon-arrow-right;
            float: none;
            margin-right: 0;
            margin-left: .4em;
          }
        }
      }
    }
    &.grid {
      ul {
        li {
          width: calc((100% - (9.5px)) / 2);
          min-height: 200px;
          &:nth-child(2n) {
            margin-left: 9.5px;
          }
          img.profile-image {
            // max-width: 35%;
            max-width: 36.5%;
          }
          .info-container {
            float: left;
            // width: 65%;
            width: 63.5%;
            padding: 10px 0;
          }
          .front .information {
            width: 70%;
            padding-left: 10px;
          }
          p {
            &.name {
              padding-left: 10px;
            }
            &.desc.long,
            &.diet,
            &.lifestyle {
              // display: none;
            }
            &.desc.long {
              display: none;
            }
          }
        }
      }
    }
    &.list {
      ul {
        li {
          width: 100%;
          min-height: 223px;
          img.profile-image {
            max-width: 20%;
          }
          .info-container {
            width: 80%;
          }
          .front .information {
            padding-left: 20px;
          }
          p {
            &.desc.short {
              display: none;
            }
            &.name {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .no-results {
    position: relative;
    height: calc(100vh - 75px);
    p {
      text-align: center;
      position: absolute;
      top: calc((100% - 25px) / 2);
      left: 0;
      right: 0;
      width: 80%;
      margin: auto;
      font-size: 1.2em;
      color: white;
      background-color: rgba(black, .75);
      padding: 10px 0;
    }
  }
}


@media(device-width: 768px) and (device-height: 1024px){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}


