@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
ul li {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  > div.page-curl {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      opacity: 0;
    }
  }
  .curl {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 12%;
      bottom: 6%;
      width: 70%;
      max-width: 300px;
      max-height: 100px;
      height: 55%;
    }
    &:after {
      left: auto;
      right: 6%;
      bottom: auto;
      top: 14%;
      transform: skew(-15deg) rotate(-84deg);
    }
  }
  p.flip {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
    &:hover {
      cursor: pointer;
    }
  }
  &:not(.open):hover > div.page-curl {
    &::before {
      opacity: 1;
    }
    .curl {
      width: 40px;
      height: 40px;
    }
  }
}