
ul li {
  position: relative;
  margin: 10px auto;
  z-index: 1;

  perspective: 1000;

  .flip {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    .front {
      position: absolute;
      background-color: rgba(white,.8);
      border-bottom-right-radius: 100px;
      backface-visibility: hidden;
    }
    .back {
      position: absolute;
      height: 100%;
      transform: rotateY(180deg);
      padding: 20px 15px;
      backface-visibility: hidden;
      background-color: rgba(black,.8);
      p {
        color: white;
      }
    }
  }
  .flipped {
    transform: rotateY(180deg);
    min-height: 180px;
    position: relative;
    z-index:900;
  }
}

