// @colour palettte  ==============================================
// using color names as variables is fine.

// greys
$xlight-grey: #EFEFEF;
$light-grey: #E0E0E0;
$neutral-grey: #757575;
$dark-grey: #212121;

// ui colours for shadows, borders, etc. Can be used on their own, or part of mixins or placeholders
$ui-borders-color: $neutral-grey;
$ui-grey: $neutral-grey;


// brand colours

// Pale Yellow
$brand1 : #ECD078;
// Pumpkin Orange
$brand2 : #D95B43;
// Paradise Pink
$brand3 : #C02942;
// Tyrian Purple
$brand4 : #542437;
// Celadon Green
$brand5 : #53777A;



// Pearl White
$brand6 : #f5f8ff;
// Asphalt Black
$brand7 : #303233;
