// @type settings    ==============================================

// modular scale settings are located in typography/_modular-scale.scss
$xlight: 100;
$lightest: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$boldest: 900;
$xbold: 900;

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('../../fonts/caviardreams/caviardreams-webfont.woff2') format('woff2'),
       url('../../fonts/caviardreams/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('../../fonts/caviardreams_bold/caviardreams_bold-webfont.woff2') format('woff2'),
       url('../../fonts/caviardreams_bold/caviardreams_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caviar_dreamsbold_italic';
  src: url('../../fonts/caviardreams_bolditalic/caviardreams_bolditalic-webfont.woff2') format('woff2'),
       url('../../fonts/caviardreams_bolditalic/caviardreams_bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caviar_dreamsitalic';
  src: url('../../fonts/caviardreams_italic/caviardreams_italic-webfont.woff2') format('woff2'),
       url('../../fonts/caviardreams_italic/caviardreams_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Brand Fonts
$font1: 'caviar_dreamsregular', sans-serif;
  $font1-bold: 'caviar_dreamsbold', sans-serif;
  $font1-bolditalic: 'caviar_dreamsbold_italic', sans-serif;
  $font1-italic: 'caviar_dreamsitalic', sans-serif;
$font2: 'Montserrat', sans-serif;
$font3: 'Roboto', sans-serif;

@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon/fonts/icomoon.eot?-c3zxka');
  src:url('../../fonts/icomoon/fonts/icomoon.eot?#iefix-c3zxka') format('embedded-opentype'),
    url('../../fonts/icomoon/fonts/icomoon.woff?-c3zxka') format('woff'),
    url('../../fonts/icomoon/fonts/icomoon.ttf?-c3zxka') format('truetype'),
    url('../../fonts/icomoon/fonts/icomoon.svg?-c3zxka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon {
  font-family: 'icomoon';
  speak: none;
  line-height: 1;
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-right: .4em;
  float: left;
  top: 3px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* =============================================================================
    ICOMOON ICONS
   ========================================================================== */

%icon-tag {
  @include icon;
  content: "\e903";
}
%icon-list {
  @include icon;
  content: "\e900";
}
%icon-grid {
  @include icon;
  content: "\e901";
}
%icon-trophy {
  @include icon;
  content: "\e99e";
}
%icon-spoon-knife {
  @include icon;
  content: "\e9a3";
}
%icon-notification2 {
  @include icon;
  content: "\ea0d";
}
%icon-cross2 {
  @include icon;
  content: "\ea11";
}
%icon-checkmark2 {
  @include icon;
  content: "\ea12";
}
%icon-home3 {
  @include icon;
  content: "\e902";
}
%icon-pencil {
  @include icon;
  content: "\e905";
}
%icon-image {
  @include icon;
  content: "\e90d";
}
%icon-images {
  @include icon;
  content: "\e90e";
}
%icon-camera {
  @include icon;
  content: "\e90f";
}
%icon-book {
  @include icon;
  content: "\e91f";
}
%icon-file-empty {
  @include icon;
  content: "\e924";
}
%icon-file-picture {
  @include icon;
  content: "\e927";
}
%icon-stack {
  @include icon;
  content: "\e92e";
}
%icon-folder {
  @include icon;
  content: "\e92f";
}
%icon-folder-open {
  @include icon;
  content: "\e930";
}
%icon-price-tag {
  @include icon;
  content: "\e935";
}
%icon-price-tags {
  @include icon;
  content: "\e936";
}
%icon-phone {
  @include icon;
  content: "\e942";
}
%icon-envelop {
  @include icon;
  content: "\e945";
}
%icon-pushpin {
  @include icon;
  content: "\e946";
}
%icon-location {
  @include icon;
  content: "\e947";
}
%icon-map {
  @include icon;
  content: "\e94b";
}
%icon-stopwatch {
  @include icon;
  content: "\e952";
}
%icon-calendar {
  @include icon;
  content: "\e953";
}
%icon-printer {
  @include icon;
  content: "\e954";
}
%icon-keyboard {
  @include icon;
  content: "\e955";
}
%icon-display {
  @include icon;
  content: "\e956";
}
%icon-laptop {
  @include icon;
  content: "\e957";
}
%icon-mobile {
  @include icon;
  content: "\e958";
}
%icon-mobile2 {
  @include icon;
  content: "\e959";
}
%icon-tablet {
  @include icon;
  content: "\e95a";
}
%icon-bubble {
  @include icon;
  content: "\e96b";
}
%icon-bubbles {
  @include icon;
  content: "\e96c";
}
%icon-bubbles2 {
  @include icon;
  content: "\e96d";
}
%icon-user {
  @include icon;
  content: "\e971";
}
%icon-users {
  @include icon;
  content: "\e972";
}
%icon-user-plus {
  @include icon;
  content: "\e973";
}
%icon-user-minus {
  @include icon;
  content: "\e974";
}
%icon-user-check {
  @include icon;
  content: "\e975";
}
%icon-quotes-left {
  @include icon;
  content: "\e977";
}
%icon-quotes-right {
  @include icon;
  content: "\e978";
}
%icon-spinner {
  @include icon;
  content: "\e97a";
}
%icon-spinner2 {
  @include icon;
  content: "\e97b";
}
%icon-spinner3 {
  @include icon;
  content: "\e97c";
}
%icon-spinner8 {
  @include icon;
  content: "\e981";
}
%icon-spinner9 {
  @include icon;
  content: "\e982";
}
%icon-search {
  @include icon;
  content: "\e986";
}
%icon-key2 {
  @include icon;
  content: "\e98e";
}
%icon-lock {
  @include icon;
  content: "\e98f";
}
%icon-unlocked {
  @include icon;
  content: "\e990";
}
%icon-wrench {
  @include icon;
  content: "\e991";
}
%icon-cog {
  @include icon;
  content: "\e994";
}
%icon-cogs {
  @include icon;
  content: "\e995";
}
%icon-bin {
  @include icon;
  content: "\e9ac";
}
%icon-briefcase {
  @include icon;
  content: "\e9ae";
}
%icon-airplane {
  @include icon;
  content: "\e9af";
}
%icon-truck {
  @include icon;
  content: "\e9b0";
}
%icon-earth {
  @include icon;
  content: "\e9ca";
}
%icon-link {
  @include icon;
  content: "\e9cb";
}
%icon-attachment {
  @include icon;
  content: "\e9cd";
}
%icon-eye {
  @include icon;
  content: "\e9ce";
}
%icon-eye-blocked {
  @include icon;
  content: "\e9d1";
}
%icon-bookmark {
  @include icon;
  content: "\e9d2";
}
%icon-bookmarks {
  @include icon;
  content: "\e9d3";
}
%icon-star-empty {
  @include icon;
  content: "\e9d7";
}
%icon-star-half {
  @include icon;
  content: "\e9d8";
}
%icon-star-full {
  @include icon;
  content: "\e9d9";
}
%icon-heart {
  @include icon;
  content: "\e9da";
}
%icon-heart-broken {
  @include icon;
  content: "\e9db";
}
%icon-warning {
  @include icon;
  content: "\ea07";
}
%icon-notification {
  @include icon;
  content: "\ea08";
}
%icon-question {
  @include icon;
  content: "\ea09";
}
%icon-plus {
  @include icon;
  content: "\ea0a";
}
%icon-minus {
  @include icon;
  content: "\ea0b";
}
%icon-info {
  @include icon;
  content: "\ea0c";
}
%icon-blocked {
  @include icon;
  content: "\ea0e";
}
%icon-cross {
  @include icon;
  content: "\ea0f";
}
%icon-checkmark {
  @include icon;
  content: "\ea10";
}
%icon-enter {
  @include icon;
  content: "\ea13";
}
%icon-exit {
  @include icon;
  content: "\ea14";
}
%icon-play3 {
  @include icon;
  content: "\ea1c";
}
%icon-pause2 {
  @include icon;
  content: "\ea1d";
}
%icon-stop2 {
  @include icon;
  content: "\ea1e";
}
%icon-backward2 {
  @include icon;
  content: "\ea1f";
}
%icon-forward3 {
  @include icon;
  content: "\ea20";
}
%icon-first {
  @include icon;
  content: "\ea21";
}
%icon-last {
  @include icon;
  content: "\ea22";
}
%icon-previous2 {
  @include icon;
  content: "\ea23";
}
%icon-next2 {
  @include icon;
  content: "\ea24";
}
%icon-volume-high {
  @include icon;
  content: "\ea26";
}
%icon-volume-medium {
  @include icon;
  content: "\ea27";
}
%icon-volume-low {
  @include icon;
  content: "\ea28";
}
%icon-volume-mute {
  @include icon;
  content: "\ea29";
}
%icon-volume-mute2 {
  @include icon;
  content: "\ea2a";
}
%icon-volume-increase {
  @include icon;
  content: "\ea2b";
}
%icon-volume-decrease {
  @include icon;
  content: "\ea2c";
}
%icon-arrow-up {
  @include icon;
  content: "\ea32";
}
%icon-arrow-right {
  @include icon;
  content: "\ea34";
}
%icon-arrow-down {
  @include icon;
  content: "\ea36";
}
%icon-arrow-left {
  @include icon;
  content: "\ea38";
}
%icon-arrow-up2 {
  @include icon;
  content: "\ea3a";
}
%icon-arrow-right2 {
  @include icon;
  content: "\ea3c";
}
%icon-arrow-down2 {
  @include icon;
  content: "\ea3e";
}
%icon-arrow-left2 {
  @include icon;
  content: "\ea40";
}
%icon-circle-up {
  @include icon;
  content: "\ea41";
}
%icon-circle-right {
  @include icon;
  content: "\ea42";
}
%icon-circle-down {
  @include icon;
  content: "\ea43";
}
%icon-circle-left {
  @include icon;
  content: "\ea44";
}
%icon-checkbox-checked {
  @include icon;
  content: "\ea52";
}
%icon-checkbox-unchecked {
  @include icon;
  content: "\ea53";
}
%icon-radio-checked {
  @include icon;
  content: "\ea54";
}
%icon-radio-checked2 {
  @include icon;
  content: "\ea55";
}
%icon-radio-unchecked {
  @include icon;
  content: "\ea56";
}
%icon-google {
  @include icon;
  content: "\ea88";
}
%icon-facebook {
  @include icon;
  content: "\ea90";
}
%icon-instagram {
  @include icon;
  content: "\ea92";
}
%icon-twitter {
  @include icon;
  content: "\ea96";
}
%icon-youtube {
  @include icon;
  content: "\ea9d";
}
%icon-youtube2 {
  @include icon;
  content: "\ea9e";
}
%icon-vimeo {
  @include icon;
  content: "\eaa0";
}
%icon-flickr2 {
  @include icon;
  content: "\eaa4";
}
%icon-dribbble {
  @include icon;
  content: "\eaa7";
}
%icon-behance {
  @include icon;
  content: "\eaa8";
}
%icon-steam {
  @include icon;
  content: "\eaac";
}
%icon-dropbox {
  @include icon;
  content: "\eaae";
}
%icon-github {
  @include icon;
  content: "\eab0";
}
%icon-trello {
  @include icon;
  content: "\eab3";
}
%icon-tumblr {
  @include icon;
  content: "\eab9";
}
%icon-skype {
  @include icon;
  content: "\eac5";
}
%icon-reddit {
  @include icon;
  content: "\eac6";
}
%icon-linkedin2 {
  @include icon;
  content: "\eaca";
}
%icon-pinterest {
  @include icon;
  content: "\ead1";
}
%icon-paypal {
  @include icon;
  content: "\ead8";
}
%icon-chrome {
  @include icon;
  content: "\ead9";
}
%icon-firefox {
  @include icon;
  content: "\eada";
}
%icon-IE {
  @include icon;
  content: "\eadb";
}
%icon-safari {
  @include icon;
  content: "\eadd";
}
%icon-opera {
  @include icon;
  content: "\eade";
}


