#details {
  .region {
    float: left;
    &:not(.head) {
      padding: 50px 0 0;
    }
    h3,
    p {
      display: inline-block;
      width: 100%;
    }
    p {
      margin: 0;
    }
    div.desc {
      p {
        font-size: 1.2em;
        font-family: $font2;
        text-align: justify;
      }
    }
    &.head {
      position: relative;
      height: 600px;
      width: 100%;
      background-color: rgba(black,.5);
      overflow: hidden;
      .wrapper {
        height: 100%;
        width: 100%;
        &:before {
          content: '';
          display: inline-block;
          height: 100%; 
          vertical-align: middle;
        }
        .text {
          display: inline-block;
          width: 100%;
          vertical-align: middle;
          text-align: center;
          h3 {
            color: white;
            font-size: 4em;
            margin: 0;
            width: auto;
            span.border {
              display: block;
              width: 80%;
              margin: 0 auto;
              height: 2px;
              background-color: white;
              &.top {
                margin-bottom: 10px;
              }
              &.bottom {
                margin-top: 15px;
              }
            }
          }
        }
      }
      img.bkgd {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
      }
    }
    &.sidebar {
      width: 30%;
      .thumbnail {
        @include no-drag-image;
      }
      .wrapper {
        text-align: center;
        h3 {
          font-size: 2em;
          margin: 0;
          margin-top: 10px;
          color: $brand3;
          width: auto;
          span.underline {
            display: block;
            width: 80%;
            margin: 0 auto;
            margin-top: 5px;
            height: 2px;
            background-color: $brand3;
          }
        }
      }
      .specs {
        padding: 25px 0;
        ul {
          display: inline-block;
          padding: 0 1em;
          li {
            list-style-type: none;
            float: left;
            span.label {
              color: $brand3;
              display: inline-block;
              width: 100%;
              font-family: $font1-bold;
              font-size: .9em;
            }
          }
        }
      }
    }
    &.main-content {
      width: 70%;
      padding-left: 20px;
    }
  }
  .container {
    padding: 50px 20px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
  }
}

#goBack {
  position: fixed;
  z-index: 3;
  top: 25px;
  left: 25px;
  &:hover {
    cursor: pointer;
  }
  &:before {
    @extend %icon-home3;
    opacity: .5;
    color: white;
    font-size: 2em;
    background-color: $brand3;
    border-radius: 50%;
    padding: 9px 10px 11px;
    @extend %transition;
  }
  &:hover:before {
    opacity: 1;
    @extend %transition;
  }
}