/* components/_brand.scss */

// brand
#logo {
  display: block;
  a {
    text-align: center;
    display: block;
    line-height: 0;
    @include breakpoint($medium-screen) {
      text-align: left;
    }
  }
}

.site-title {
  font-size: ms(2);
  text-align: center;
}
